<?xml version="1.0"?>
<launch>
    <include file="$(find hsrb_gazebo_launch)/launch/hsrb_empty_world.launch">
        <!-- <arg name="namespace" default="/hsrb"/> -->
        <arg name="debug" default="false"/>
        <!-- <arg name="gui" default="true" /> -->
        <arg name="rviz" default="false"/>
        <!-- <arg name="gazebo_visualization" default="false" /> -->
        <arg name="use_manipulation" default="false" />
        <arg name="use_navigation" default="false" />
        <arg name="use_perception" default="false" />
        <arg name="use_task" default="false" />
        <arg name="use_teleop" default="true" />
        <arg name="use_web" default="false" />
        <arg name="use_laser_odom" default="false" />
        <arg name="paused" default="false" />
        <arg name="fast_physics" default="false" />
        <!-- <arg name="robot_name" default="$(optenv ROBOT_NAME hsrb)" /> -->
    </include>

    <!-- <include file="$(find cembra)/launch/moveit.launch"></include> -->

    <!-- <node name="arm_filter" pkg="cembra" type="arm_filter"></node> -->
    <!-- <node name="base_filter" pkg="cembra" type="base_filter"></node> -->
    <!-- <node name="environment" pkg="cembra" type="environment_1.py"></node> -->

    <node name="spawn_cube1" pkg="gazebo_ros" type="spawn_model" args="-database wood_cube_5cm -sdf -x 1 -y -0.5 -z 0 -model cube1" />
    <node name="spawn_cube2" pkg="gazebo_ros" type="spawn_model" args="-database wood_cube_7_5cm -sdf -x 1 -y 0.5 -z 0 -model cube2" />
</launch>