<?xml version="1.0"?>
<launch>
    <arg name="learner" default="false"/>
    <arg name="plot" default="false"/>  
    <arg name="recording" default="false"/>
    <arg name="rviz" default="false"/>
    <!-- <arg name="use_manipulation" value="false" /> -->
    <arg name="use_navigation" value="false" />
    <arg name="use_perception" value="false" />
    <arg name="use_task" value="false" />
    <arg name="use_teleop" value="true" />
    <arg name="use_web" value="false" />
    <arg name="use_laser_odom" value="false" />

    <env name="GAZEBO_MODEL_PATH" value="$(find cembra)/models"/>

    <arg name="robot_name" default="$(optenv ROBOT_NAME hsrb)" />
    <include file="$(find hsrb_gazebo_launch)/launch/include/hsrb_gazebo_common.xml" pass_all_args="true" >
        <!-- <arg name="map" value="[Path to the map which you made]" /> -->
        <arg name="world_name" value="$(find cembra)/worlds/environment2.world" />>
        <!-- <arg name="robot_pos" value="[Initial pose of the robot]" /> -->
        <arg name="use_laser_odom" value="false" />
    </include>

    
    <!-- <node name="environment" pkg="cembra" type="environment_2.py"></node> -->
    
<!--
    <param name="plot" type="bool" value="$(arg plot)"/>
    <node name="learner" pkg="cembra" type="learner_2.py" if="$(arg learner)"></node> -->
</launch>